<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Dynamic apps - Main page</title>


  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>


</head>


<body>
  <div class="container">
    <nav class="navbar navbar-inverse">
      <div class="navbar-header"><h3 style="color: white">Main page</h3></div>
      <ul class="nav navbar-nav navbar-right" id="navbar">
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </nav>
  </div>

<h3><a href="/voting">Click here to visit the Voting app</a></h3>
<h3><a href="/nightlife">Click here to visit the Nightlife app</a></h3>
  <h3><a href="/stock">Click here to visit the 'Chart the stock market' app</a></h3>
</body>
<script src="js/index.js"></script>
</html>
