<html>
<title>Login page</title>

  <head>
     <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  
<body>
  <h3 class="text-center">Signup page</h3>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form action="/signup" method="post">
          <div class="form-group">
            <label>Enter a login name (min 5 char):</label>
            <input type="text" class="form-control" name="login" placeholder="Enter login">
          </div>
          <div class="form-group">
            <label>Enter a password (min 5 char):</label>
            <input type="password" class="form-control" name="password" placeholder="Enter password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</body>

</html>
